html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: #f2f2f2;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin: 1.5rem;
}

h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.card {
  float: left;
  width: 25%;
  background-color: #e2e2e2;
  padding: .75rem;
  border-left: 1px solid #333;
  min-height: 26rem;
}

.second {
  background-color: #ccc;
}

.third {
  background-color: #aaa;
}

.fourth {
  background-color: #999;
  border-right: 1px solid #333;
}

img {
  width: 100px;
  display: block;
  margin: 0 auto 1.5rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  padding: .6em .75em;
  border-radius: 8px;
}

.btn-small {
  font-size: .875rem;
}

.btn:hover {
  background-color: #000;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: .875rem;
  font-weight: normal;
  font-style: italic;
  margin: 0 0 .25rem;
}
